<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>

	<bean id="bookService" class="com.baidu.beidou.navi.it.service.impl.BookServiceImpl">
	</bean>

	<bean id="bookExporter" class="com.baidu.beidou.navi.server.NaviRpcExporter"
		scope="singleton">
		<property name="serviceInterfaceName" value="com.baidu.beidou.navi.it.service.BookService" />
		<property name="serviceBean">
			<ref bean="bookProxy" />
		</property>
	</bean>

	<bean id="bookProxy" parent="apiProxyBase">
		<property name="target" ref="bookService"></property>
		<property name="proxyInterfaces" value="com.baidu.beidou.navi.it.service.BookService">
		</property>
	</bean>

	<bean id="apiProxyBase" class="org.springframework.aop.framework.ProxyFactoryBean"
		abstract="true">
	</bean>

</beans>
