<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans   
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd   
        http://www.springframework.org/schema/context   
        http://www.springframework.org/schema/context/spring-context-3.0.xsd   
        ">

	<bean id="companyServiceDirectCall" class="com.baidu.beidou.navi.client.NaviProxyFactoryBean">
		<property name="directCallServers">
			<value>127.0.0.1:${server.port}</value>
		</property>
		<property name="serviceInterface">
			<value>com.baidu.beidou.navi.it.service.CompanyService</value>
		</property>
	</bean>

	<bean id="companyServiceDirectCallNegative" class="com.baidu.beidou.navi.client.NaviProxyFactoryBean">
		<property name="directCallServers">
			<value>1.1.1.1:9999</value>
		</property>
		<property name="serviceInterface">
			<value>com.baidu.beidou.navi.it.service.CompanyService</value>
		</property>
	</bean>

	<bean id="companyServiceHA" class="com.baidu.beidou.navi.client.NaviProxyFactoryBean">
		<!-- <property name="zkNodePath"> <value>${ZK_WATCH_NAMESPACE_PATHS}</value> 
			</property> -->
		<property name="directCallServers">
			<value>127.0.0.1:${server.port},1.1.1.1:9999</value>
		</property>
		<property name="protocol">
			<value type="com.baidu.beidou.navi.protocol.NaviProtocol">PROTOBUF</value>
		</property>
		<property name="failStrategy">
			<value type="com.baidu.beidou.navi.client.selector.NaviFailStrategy">
				FAILOVER
			</value>
		</property>
		<property name="selectorStrategy">
			<value type="com.baidu.beidou.navi.client.selector.NaviSelectorStrategy">ROUNDROBIN</value>
		</property>
		<property name="serviceInterface">
			<value>com.baidu.beidou.navi.it.service.CompanyService</value>
		</property>
	</bean>

	<bean id="companyServiceHANatureOrder" class="com.baidu.beidou.navi.client.NaviProxyFactoryBean">
		<!-- <property name="zkNodePath"> <value>${ZK_WATCH_NAMESPACE_PATHS}</value> 
			</property> -->
		<property name="directCallServers">
			<value>127.0.0.1:${server.port},1.1.1.1:9999</value>
		</property>
		<property name="protocol">
			<value type="com.baidu.beidou.navi.protocol.NaviProtocol">PROTOBUF</value>
		</property>
		<property name="failStrategy">
			<value type="com.baidu.beidou.navi.client.selector.NaviFailStrategy">
				FAILOVER
			</value>
		</property>
		<property name="selectorStrategy">
			<value type="com.baidu.beidou.navi.client.selector.NaviSelectorStrategy">NATURALORDER</value>
		</property>
		<property name="serviceInterface">
			<value>com.baidu.beidou.navi.it.service.CompanyService</value>
		</property>
	</bean>

	<bean id="companyServiceDirectCallJson" class="com.baidu.beidou.navi.client.NaviProxyFactoryBean">
		<property name="directCallServers">
			<value>127.0.0.1:${server.port}</value>
		</property>
		<property name="protocol">
			<value type="com.baidu.beidou.navi.protocol.NaviProtocol">JSON</value>
		</property>
		<property name="serviceInterface">
			<value>com.baidu.beidou.navi.it.service.CompanyService</value>
		</property>
	</bean>

	<bean id="companyServiceDirectCallProtobuf" class="com.baidu.beidou.navi.client.NaviProxyFactoryBean">
		<property name="directCallServers">
			<value>127.0.0.1:${server.port}</value>
		</property>
		<property name="protocol">
			<value type="com.baidu.beidou.navi.protocol.NaviProtocol">PROTOBUF</value>
		</property>
		<property name="serviceInterface">
			<value>com.baidu.beidou.navi.it.service.CompanyService</value>
		</property>
	</bean>

	<bean id="companyServiceEnableZoo" class="com.baidu.beidou.navi.client.NaviProxyFactoryBean">
		<property name="zkNodePath">
			<value>${zoo.zk_registry_namespace}</value>
		</property>
		<property name="failStrategy">
			<value type="com.baidu.beidou.navi.client.selector.NaviFailStrategy">
				FAILFAST
			</value>
		</property>
		<property name="serviceInterface">
			<value>com.baidu.beidou.navi.it.service.CompanyService</value>
		</property>
	</bean>

	<bean id="bookServiceDirectCall" class="com.baidu.beidou.navi.client.NaviProxyFactoryBean">
		<property name="directCallServers">
			<value>127.0.0.1:${server.port}</value>
		</property>
		<property name="serviceInterface">
			<value>com.baidu.beidou.navi.it.service.BookService</value>
		</property>
	</bean>

	<bean id="proxyServiceDirectCall" class="com.baidu.beidou.navi.client.NaviProxyFactoryBean">
		<property name="directCallServers">
			<value>127.0.0.1:${server.port}</value>
		</property>
		<property name="serviceInterface">
			<value>com.baidu.beidou.navi.it.service.ProxyService</value>
		</property>
	</bean>

	<bean id="authServiceDirectCallNoAuth" class="com.baidu.beidou.navi.client.NaviProxyFactoryBean">
		<property name="directCallServers">
			<value>127.0.0.1:${server.port}</value>
		</property>
		<property name="serviceInterface">
			<value>com.baidu.beidou.navi.it.service.AuthService</value>
		</property>
	</bean>

	<bean id="authServiceDirectCallTokenWrong" class="com.baidu.beidou.navi.client.NaviProxyFactoryBean">
		<property name="directCallServers">
			<value>127.0.0.1:${server.port}</value>
		</property>
		<property name="appId">
			<value>beidou</value>
		</property>
		<property name="token">
			<value>xxxxxx</value>
		</property>
		<property name="serviceInterface">
			<value>com.baidu.beidou.navi.it.service.AuthService</value>
		</property>
	</bean>

	<bean id="authServiceDirectCall" class="com.baidu.beidou.navi.client.NaviProxyFactoryBean">
		<property name="directCallServers">
			<value>127.0.0.1:${server.port}</value>
		</property>
		<property name="appId">
			<value>beidou</value>
		</property>
		<property name="token">
			<value>123456</value>
		</property>
		<property name="serviceInterface">
			<value>com.baidu.beidou.navi.it.service.AuthService</value>
		</property>
	</bean>

</beans>