<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/aop   
        http://www.springframework.org/schema/aop/spring-aop-3.0.xsd   
        http://www.springframework.org/schema/beans   
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd   
        http://www.springframework.org/schema/context   
        http://www.springframework.org/schema/context/spring-context-3.0.xsd   
        http://www.springframework.org/schema/mvc   
        http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd   
        http://www.springframework.org/schema/tx   
        http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

	<description>navi demo client</description>
	
	<context:property-placeholder location="classpath*:/rpc-client.properties" />
	
	<bean class="net.neoremind.navi.conf.RpcClientConf">
		<property name="ENABLE_ZK_REGISTRY">
			<value>${ENABLE_ZK_REGISTRY}</value>
		</property>
		<property name="ZK_SERVER_LIST">
			<value>${ZK_SERVER_LIST}</value>
		</property>
		<property name="ZK_DEFAULT_SESSION_TIMEOUT_MILLS">
			<value>${ZK_DEFAULT_SESSION_TIMEOUT_MILLS}</value>
		</property>
		<property name="ZK_CONNECTION_TIMEOUT_MILLS">
			<value>${ZK_CONNECTION_TIMEOUT_MILLS}</value>
		</property>
		<property name="ZK_WATCH_NAMESPACE_PATHS">
			<value>${ZK_WATCH_NAMESPACE_PATHS}</value>
		</property>
		<property name="SERVER_LIST">
			<value>${SERVER_LIST}</value>
		</property>
		<property name="RPC_CONNECTION_TIMEOUT">
			<value>${RPC_CONNECTION_TIMEOUT}</value>
		</property>
		<property name="RPC_READ_TIMEOUT">
			<value>${RPC_READ_TIMEOUT}</value>
		</property>
		<property name="RPC_RETRY_TIMES">
			<value>${RPC_RETRY_TIMES}</value>
		</property>
	</bean>
	
	<mvc:annotation-driven />
	<context:annotation-config />
	<context:component-scan base-package="net.neoremind" />
	
	<bean class="net.neoremind.navi.client.NaviRpcServerListListener">
	</bean>

</beans>